@page
@model EmployeeDetailsModel
@{
}
@{
    string employeeName = string.Empty;
    if (null != Model?.EmployeeDetail)
    {
        string fN = (null != Model.EmployeeDetail.FirstName) ? Model.EmployeeDetail.FirstName : string.Empty;
        string lN = (null != Model.EmployeeDetail.LastName) ? Model.EmployeeDetail.LastName : string.Empty;
        employeeName = string.Format("{0} {1}", fN, lN);
    }
}
<h1>Employee Details for @employeeName</h1>
<form method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="EmployeeDBId" />
    <input type="hidden" asp-for="EmployeeDetail.Id" />
    <input type="hidden" asp-for="EmployeeDetail.Address.Id" />
    <input type="hidden" asp-for="EmployeeDetail.JobDetail.Id" />
    <input type="hidden" asp-for="EmployeeDetail.Immigration.Id" />
    <input type="hidden" asp-for="EmployeeDetail.Demographic.Id" />

    <div class="container-fluid">

        <div class="form-row">
            @Html.LabelFor(x => x.EmployeeDetail.EmployeeId, htmlAttributes:
                                                                 new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.EmployeeId,
                                                     new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.EmployeeId, "",
                                                     new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.Prefix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(m => m.EmployeeDetail.Prefix, Model.EmployeeDetail.Prefixes,
                                    "Select Prefix...", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.EmployeeDetail.Prefix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.FirstName, htmlAttributes:
                                                                                new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.FirstName,
                                                                          new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.FirstName, "",
                                                                          new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.MiddleName, htmlAttributes:
                                                                           new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.MiddleName,
                                                                     new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.MiddleName, "",
                                                                     new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.LastName, htmlAttributes:
                                                                            new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.LastName,
                                                                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.LastName, "",
                                                                new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.Suffix, htmlAttributes:
                                                                      new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.Suffix,
                                                          new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.Suffix, "",
                                                          new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.EmployeeDetail.DateOfBirth, htmlAttributes:
                                                                 new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeDetail.DateOfBirth,
                                               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeDetail.DateOfBirth, "",
                                               new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <p>&nbsp;</p>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    <div id="employeeDetails" style="display:block">
        <div class="tabbable">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#tab-Address" data-toggle="tab">Address</a>
                </li>
                <li>
                    <a href="#tab-Demographic" data-toggle="tab">Demographic</a>
                </li>
                <li>
                    <a href="#tab-Immigration" data-toggle="tab">Immigration</a>
                </li>
                <li>
                    <a href="#tab-JobDetail" data-toggle="tab">Job Details</a>
                </li>
            </ul>
            <div class="tab-content">
                <!--New Code Start-->
                <div class="tab-pane active" id="tab-Address">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.Address1, new
                            {
                                htmlAttributes =
                                                        new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.Address1) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.Address1, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.Address2, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.Address2) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.Address2, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.City, new
                            {
                                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.City) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.City, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.State, new { htmlAttributes = new { @class = "form-control", placeholder = "State" } })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.State, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-2">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Zip Code" } })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.ZipCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.PhoneCell, new
                            {
                                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.PhoneCell) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.PhoneCell, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.PhoneHome, new
                            {
                                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.PhoneHome) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.PhoneHome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.EmailPersonal, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.EmailPersonal) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.EmailPersonal, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Address.EmailWork, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Address.EmailWork) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Address.EmailWork, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <!--New Code End-->
                <div class="tab-pane" id="tab-Demographic">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Demographic.Gender, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Demographic.Gender) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Demographic.Gender, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Demographic.MaritalStatus, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Demographic.MaritalStatus) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Demographic.MaritalStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Demographic.Ethnicity, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Demographic.Ethnicity) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Demographic.Ethnicity, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.Demographic.Race, new
                            {
                                htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Demographic.Race) }
                            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.Demographic.Race, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="tab-Immigration">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EmployeeDetail.Immigration.WorkAuthorizationType, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Immigration.WorkAuthorizationType) } })
                                @Html.ValidationMessageFor(model => model.EmployeeDetail.Immigration.WorkAuthorizationType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EmployeeDetail.Immigration.JobTitle,
new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Immigration.JobTitle) } })
                                @Html.ValidationMessageFor(model => model.EmployeeDetail.Immigration.JobTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.EmployeeDetail.Immigration.DateOfExpiry,
new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.Immigration.DateOfExpiry) } })
                                @Html.ValidationMessageFor(model => model.EmployeeDetail.Immigration.DateOfExpiry, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-JobDetail">

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.JobTitle, new
            {
                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.JobTitle) }
            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.JobTitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.JobType, new
            {
                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.JobType) }
            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.JobType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.CheckBoxFor(model => model.EmployeeDetail.JobDetail.IsEligibleForVacation, new { htmlAttributes = new { @class = "form-control" } })
                            <label asp-for="EmployeeDetail.JobDetail.IsEligibleForVacation"></label>
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.IsEligibleForVacation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.DateStarted, new
            {
                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.DateStarted) }
            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.DateStarted, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.DateTerminated, new
            {
                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.DateTerminated) }
            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.DateTerminated, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.PayRate, new
            {
                htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.PayRate) }
            })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.PayRate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployeeDetail.JobDetail.PayRateType, new
    {
        htmlAttributes =
new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.EmployeeDetail.JobDetail.PayRateType) }
    })
                            @Html.ValidationMessageFor(model => model.EmployeeDetail.JobDetail.PayRateType, "", new { @class = "text-danger" })
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</form>

